.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow: auto;
}

.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.nav-left,
.nav-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}

.nav-left {
    left: 20px;
}

.nav-right {
    right: 20px;
}

.image-gallery img:hover {
    opacity: 0.8;
    transform: scale(1.1);
}




.image-gallery img {
    width: 200px; /* Adjust as needed */
    height: auto;
    object-fit: cover;
    cursor: pointer;
    padding: 5px;
}


