* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  background-color: #f2eee9;
  color: black;
  text-align: center;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
}

footer {
  background-color: #f2eee9;
  color: black;
  text-align: center;
  padding: 10px 0;
}

h1 {
  padding: 20px;
  font-family: "Bodoni Moda";
  font-weight: lighter;
}

h4 {
  font-family: Bodoni Moda;
  text-align: center;
  margin-top: 20px;
}

.spacer {
  flex: 1;
}


.company-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-container {
  display: flex;
  align-items: center;
}



.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.navbar-icon {
  height: 30px;
  margin-right: 10px;
}

.navbar-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f2eee9;
  color: black;
  transition: left 0.3s;
  z-index: 1000;
  padding-top: 60px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 15px 20px;
}

.sidebar-item a {
  text-decoration: none;
  color: black;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.content {
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s;
}

.sidebar-active {
  left: 0;
}

.svg-icon {
  width: 400px;
  height: 400px;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.team {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 768px) {
  .team {
    flex-direction: column;
  }

  .member img {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #f2eee9;
    align-items: center;
    justify-content: center;
  }

  .content {
    margin-left: 0;
  }

  .svg-icon {
    width: 200px;
  }

}

.member p {
  text-align: center;
  font-family: Lato;
  max-width: 350px;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 1.6;
}

.member img {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #f2eee9;
  align-items: center;
  justify-content: center;
}

.member {
  margin: 10px;
  flex: 3;
}

.seperate {
  flex: 2;
}

.certificate {
  overflow-x: auto;
}

.imgbox img {
  width: 400px;
  height: 200px;
  margin-right: 5px;
  border-radius: 20px;
  border: 2px solid rgb(138, 138, 128);
  padding: 10px;
}

.imgbox {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.spacer {
  flex: 10%;
}