:root {
    --primary: #f2eee9;
    /* Custom primary color */
    --primary-invert: #000000;
    /* Inverted primary color for text */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

.custom-header .navbar-burger {
    height: 60px;
}

.custom-header.navbar {
    background-color: #f2eee9;
    color: #d81616;
}

.navbar-start>.navbar-item {
    color: #000000;
}

.custom-header.navbar-item {
    color: #000000;
}

.custom-header .navbar-item:hover {
    background-color: rgba(7, 7, 7, 0.1);
    color: #000000;
}

.custom-header .navbar-burger span {
    background-color: #000000;
}

.navbar-item img {
    max-height: 90px;
    height: 90px;
    width: auto;
}

#brand-icon {
    top: -10px;
    padding: 0;
}

#brand-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-invert);
    font-size: 1.5rem;
    text-align: center;
    height: 75px;
}

.thin-footer {
    background-color: #f2eee9;
    padding: 1rem 1.5rem 1rem;
}

@media only screen and (max-width: 1000px) {
    .navbar-menu {
        display: block;
        opacity: 0;
        position: relative;
        padding: 0;
        left: 0;
        right: 0;
        max-height: 0px;
        transition: all 0.4s ease-in-out;
        pointer-events: none;
        overflow: hidden;
    }

    .navbar-menu.is-active {
        max-height: 200px;
        padding: .5rem .75rem;
        opacity: 1;
        transform: none;
        pointer-events: auto;
    }
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.banner-container img {
    max-width: 100%;
    height: auto;
}

.text-justify-center {
    text-align: center;
    max-width: 1200px;
}
.text-justify-center:after {
    content: "";
    display: inline-block;
    width: 100%;
}
.text-justify-center p:last-child {
    text-align: center;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.image .edukacija-img.is-rounded {
    border-radius: 50%; /* Make the images fully round */
    object-fit: cover; /* Ensure the image covers the container */
    width: 400px;
    height: 400px;
}

figure.is-rounded {
    width: 400px; /* Set a fixed width */
    height: 400px; /* Set a fixed height */
    overflow: hidden;
    border-radius: 50%; /* Make the figure element round */
    border: 10px solid #f2eee9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-invert);
}

#navbarBasicExample {
    background-color: #f2eee9;
}